<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amarante&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body class="mainBody">
    <header class="header" id="header">
        <nav>
            <ul class="headerMain d-flex justify-content-evenly">
                <li><a class="navButton" href="/">MAIN</a></li>
                <li><a class="navButton" href="/dessert">Dessert</a></li>
                <li><a class="navButton" href="/reds">Reds</a></li>
                <li><a class="navButton" href="/rose">Rose</a></li>
                <li><a class="navButton" href="/sparkling">Sparkling</a></li>
                <li><a class="navButton" href="/whites">Whites</a></li>
            </ul>
        </nav>
    </header>
</body>    